.titulo__principal {
    padding-left: 30px;
}

#banner {
    width: 100%;
}

.principal {
    background: #CCCCCC;
    padding: 20px;
}

.titulo__centrado {
    text-align: center;
}

p {
    text-align: center;
}

#mision {
    font-size: 20px;
}

em strong {
    color: #FF0000;
}

.diferenciales {
    background: #ffffff;
    padding: 30px;
}

.items {
    font-style: italic;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagen__diferenciales {
    width: 50%;
}